# Ignore data files
data/*.csv
data/processed/
data/raw/

# Ignore MLflow and DVC artifacts
mlruns/
.dvc/
.dvcignore

# Ignore model files
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# Ignore Python cache and environment
__pycache__/
*.pyc
.env/
.venv/
env/
venv/

# Ignore VSCode settings
.vscode/
